# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files
*.csv
*.tsv
*.json
*.xls
*.xlsx
*.pickle
*.pkl

# Model files
*.h5
*.hdf5
*.joblib
*.pt
*.pth
*.bin

# Logs
*.log

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ignore model files and directories
resume_model/
resume_model_best/
*.safetensors